body {
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0 20px 0;
}

.clock, .weather {
  background-color: #1D1E2C;
  color: #F5F5F5;
  width: 500px;
  border: solid 2px #000;
  border-radius: 15px;
  padding: 20px 0 20px 0;
  margin: 20px;
  text-align: center;
  font-size: 30px;
  box-shadow: 5px 5px 5px #C0C0C0;
  text-shadow: 3px 3px 3px #050505;
}

.weather {
  background-color: #38618C;
}
