html, body, header, aside, section, figure, footer, ul, li, ol, p, h1, h2, h3, h4, a, figcaption, nav {
  margin:0;
  padding:0;
  border:none;
  font-family:inherit;
  font-size:100%;
  font-weight: inherit;
}

ul, ol {
  list-style:none;
}

body {
  line-height:1.5;
}

img {
  width:100%;
}
